* {

}

.inviteMoreStatus {
  font-family: Helvetica, Arial, sans-serif;
  color: white;
}

.inviteMoreStatus_affiliate-buttonLink button {
  background-color: white;
  border:none;
  color: #e56606;;
  padding:7px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;

  margin:10px;
  margin-left:0px;
}