
.affiliateSignUp {
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  margin-bottom: 30px;
  border: 2px solid;
  border-color: white;
  padding:10px;
}

.affiliateSignUp_affiliate-buttonLink button {
  background-color: white;
  border:4px solid;
  border-color: gold;
  color: #e56606;
  padding:7px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;

  margin:10px;
  margin-left:0px;
  
}